x64/Debug/CalculatePrimesApplication.exe
x64/Debug/CalculatePrimesApplication.ilk
x64/Debug/CalculatePrimesApplication.pdb
x64/Debug/input.txt
x64/Debug/PrimeNumbers.lib
x64/Debug/PrimeNumbers.pdb
x64/Debug/Tests.exe
x64/Debug/Tests.ilk
x64/Debug/Tests.pdb
x64/Release/CalculatePrimesApplication.exe
x64/Release/CalculatePrimesApplication.iobj
x64/Release/CalculatePrimesApplication.ipdb
x64/Release/CalculatePrimesApplication.pdb
x64/Release/input.txt
x64/Release/PrimeNumbers.lib
x64/Release/Tests.exe
x64/Release/Tests.iobj
x64/Release/Tests.ipdb
x64/Release/Tests.pdb
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/CL.command.1.tlog
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/CL.read.1.tlog
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/CL.write.1.tlog
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/link.command.1.tlog
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/link.read.1.tlog
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/link.write.1.tlog
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/unsuccessfulbuild
CalculatePrimesApplication/Debug/CalculatePrimesApplication.log
CalculatePrimesApplication/Debug/main.obj
CalculatePrimesApplication/Debug/vc140.idb
CalculatePrimesApplication/Debug/vc140.pdb
CalculatePrimesApplication/x64/Debug/Calculat.92063589.tlog/CalculatePrimesApplication.lastbuildstate
CalculatePrimesApplication/x64/Debug/Calculat.92063589.tlog/CL.command.1.tlog
CalculatePrimesApplication/x64/Debug/Calculat.92063589.tlog/CL.read.1.tlog
CalculatePrimesApplication/x64/Debug/Calculat.92063589.tlog/CL.write.1.tlog
CalculatePrimesApplication/x64/Debug/Calculat.92063589.tlog/link.command.1.tlog
CalculatePrimesApplication/x64/Debug/Calculat.92063589.tlog/link.read.1.tlog
CalculatePrimesApplication/x64/Debug/Calculat.92063589.tlog/link.write.1.tlog
CalculatePrimesApplication/x64/Debug/CalculatePrimesApplication.Build.CppClean.log
CalculatePrimesApplication/x64/Debug/CalculatePrimesApplication.log
CalculatePrimesApplication/x64/Debug/main.obj
CalculatePrimesApplication/x64/Debug/vc140.idb
CalculatePrimesApplication/x64/Debug/vc140.pdb
CalculatePrimesApplication/x64/Release/Calculat.92063589.tlog/CalculatePrimesApplication.lastbuildstate
CalculatePrimesApplication/x64/Release/Calculat.92063589.tlog/CL.command.1.tlog
CalculatePrimesApplication/x64/Release/Calculat.92063589.tlog/CL.read.1.tlog
CalculatePrimesApplication/x64/Release/Calculat.92063589.tlog/CL.write.1.tlog
CalculatePrimesApplication/x64/Release/Calculat.92063589.tlog/link.command.1.tlog
CalculatePrimesApplication/x64/Release/Calculat.92063589.tlog/link.read.1.tlog
CalculatePrimesApplication/x64/Release/Calculat.92063589.tlog/link.write.1.tlog
CalculatePrimesApplication/x64/Release/CalculatePrimesApplication.Build.CppClean.log
CalculatePrimesApplication/x64/Release/CalculatePrimesApplication.log
CalculatePrimesApplication/x64/Release/main.obj
CalculatePrimesApplication/x64/Release/vc140.pdb
Tests/x64/Debug/Test.obj
Tests/x64/Debug/Tests.Build.CppClean.log
Tests/x64/Debug/Tests.log
Tests/x64/Debug/Tests.tlog/CL.command.1.tlog
Tests/x64/Debug/Tests.tlog/CL.read.1.tlog
Tests/x64/Debug/Tests.tlog/CL.write.1.tlog
Tests/x64/Debug/Tests.tlog/link.command.1.tlog
Tests/x64/Debug/Tests.tlog/link.read.1.tlog
Tests/x64/Debug/Tests.tlog/link.write.1.tlog
Tests/x64/Debug/Tests.tlog/Tests.lastbuildstate
Tests/x64/Debug/vc140.idb
Tests/x64/Debug/vc140.pdb
Tests/x64/Release/Test.obj
Tests/x64/Release/Tests.log
Tests/x64/Release/Tests.tlog/CL.command.1.tlog
Tests/x64/Release/Tests.tlog/CL.read.1.tlog
Tests/x64/Release/Tests.tlog/CL.write.1.tlog
Tests/x64/Release/Tests.tlog/link.command.1.tlog
Tests/x64/Release/Tests.tlog/link.read.1.tlog
Tests/x64/Release/Tests.tlog/link.write.1.tlog
Tests/x64/Release/Tests.tlog/Tests.lastbuildstate
Tests/x64/Release/Tests.vcxprojResolveAssemblyReference.cache
Tests/x64/Release/vc140.pdb
PrimeNumbers/x64/Debug/main.obj
PrimeNumbers/x64/Debug/PrimeNumbers.Build.CppClean.log
PrimeNumbers/x64/Debug/PrimeNumbers.idb
PrimeNumbers/x64/Debug/PrimeNumbers.log
PrimeNumbers/x64/Debug/PrimeNumbers.pdb
PrimeNumbers/x64/Debug/PrimeNumbers.tlog/CL.command.1.tlog
PrimeNumbers/x64/Debug/PrimeNumbers.tlog/CL.read.1.tlog
PrimeNumbers/x64/Debug/PrimeNumbers.tlog/CL.write.1.tlog
PrimeNumbers/x64/Debug/PrimeNumbers.tlog/lib.command.1.tlog
PrimeNumbers/x64/Debug/PrimeNumbers.tlog/Lib-link.read.1.tlog
PrimeNumbers/x64/Debug/PrimeNumbers.tlog/Lib-link.write.1.tlog
PrimeNumbers/x64/Debug/PrimeNumbers.tlog/PrimeNumbers.lastbuildstate
PrimeNumbers/x64/Debug/PrimeNumbersCalculator.obj
PrimeNumbers/x64/Debug/XMLHandler.obj
PrimeNumbers/x64/Release/main.obj
PrimeNumbers/x64/Release/PrimeNumbers.Build.CppClean.log
PrimeNumbers/x64/Release/PrimeNumbers.log
PrimeNumbers/x64/Release/PrimeNumbers.pdb
PrimeNumbers/x64/Release/PrimeNumbers.tlog/CL.command.1.tlog
PrimeNumbers/x64/Release/PrimeNumbers.tlog/CL.read.1.tlog
PrimeNumbers/x64/Release/PrimeNumbers.tlog/CL.write.1.tlog
PrimeNumbers/x64/Release/PrimeNumbers.tlog/lib.command.1.tlog
PrimeNumbers/x64/Release/PrimeNumbers.tlog/Lib-link.read.1.tlog
PrimeNumbers/x64/Release/PrimeNumbers.tlog/Lib-link.write.1.tlog
PrimeNumbers/x64/Release/PrimeNumbers.tlog/PrimeNumbers.lastbuildstate
PrimeNumbers/x64/Release/PrimeNumbersCalculator.obj
PrimeNumbers/x64/Release/XMLHandler.obj
Tests/Debug/Tests.log
Tests/Debug/Tests.tlog/CL.command.1.tlog
Tests/Debug/Tests.tlog/CL.read.1.tlog
Tests/Debug/Tests.tlog/CL.write.1.tlog
Tests/Debug/Tests.tlog/Tests.lastbuildstate
Tests/Debug/Tests.tlog/unsuccessfulbuild
Tests/Debug/vc140.idb
Tests/Debug/vc140.pdb
Tests/not_valid.txt
Tests/test.txt
Tests/Tests.vcxproj.user
PrimeNumbers/Debug/main.obj
PrimeNumbers/Debug/PrimeNumbers.log
PrimeNumbers/Debug/PrimeNumbers.tlog/CL.command.1.tlog
PrimeNumbers/Debug/PrimeNumbers.tlog/CL.read.1.tlog
PrimeNumbers/Debug/PrimeNumbers.tlog/CL.write.1.tlog
PrimeNumbers/Debug/PrimeNumbers.tlog/link.command.1.tlog
PrimeNumbers/Debug/PrimeNumbers.tlog/link.read.1.tlog
PrimeNumbers/Debug/PrimeNumbers.tlog/link.write.1.tlog
PrimeNumbers/Debug/PrimeNumbers.tlog/PrimeNumbers.lastbuildstate
PrimeNumbers/Debug/PrimeNumbers.tlog/unsuccessfulbuild
PrimeNumbers/Debug/PrimeNumbersCalculator.obj
PrimeNumbers/Debug/vc140.idb
PrimeNumbers/Debug/vc140.pdb
PrimeNumbers/Debug/XMLHandler.obj
PrimeNumbers/PrimeNumbers.vcxproj.user
.vs/AnatoliiKubarievTest/v14/.suo
AnatoliiKubarievTest.VC.db
AnatoliiKubarievTest.VC.VC.opendb
CalculatePrimesApplication/CalculatePrimesApplication.vcxproj.user
CalculatePrimesApplication/Debug/Calculat.92063589.tlog/CalculatePrimesApplication.lastbuildstate
Tests/x64/Release/Tests.Build.CppClean.log
